* {
    padding: 0;
    margin: 0;
}

#header {
    border: solid 2px red;
}

#titulo {
    display: inline-block;
}

#nav {
    display: inline-block;
    
}

#mainsection {
    border: solid 2px red;
}

.factsection {
    display: inline-block;
    border: solid 2px red;
    width: 100%;
}

.images {
    width: 400px;
}

#smolfacts {
    width: 75%;
    display: inline-block;
}

#aside {
    height: 100%;
    display: inline-block;
    border: solid 2px red;
    width: 20%;
    vertical-align: top;
}