* {
    padding: 0;
    margin: 0;
}

/* body {
    background-image: url('https://images.unsplash.com/photo-1543988884-c01cfa7b41c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1527&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
} */

main {
    width: 60%;
    display: inline-block;
}
#header {
    border: solid 2px red;
}

#titulo {
    display: inline-block;
}

#nav {
    display: inline-block;
    
}

#mainsection {
    border: solid 2px red;
}

.factsection {
    display: inline-block;
    border: solid 2px red;
    width: 100%;
}

#factsection img , p {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    /* margin: auto; */
}

.images {
    width: 400px;
}

#smolfacts {
    display: inline-block;
}

#aside {
    height: 100%;
    display: inline-block;
    border: solid 2px red;
    width: 35%;
    vertical-align: top;
}

#video {
    width: 90%;
    height: 100%;
}